@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
#header {
    width: 100%;
    position: absolute;
    z-index: 10;
}

#page-section {
    padding: 128px 0;
    box-sizing: border-box;
}

.navbar-brand {
    color: rgba(255, 255, 255, 0.7);
    font-family: Merriweather;
    cursor: pointer;
}

.nav-item {
    padding-left: 20px;
}

.nav-link {
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    font-weight: 700;
}

.header-2 {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("");
}

.header-2 h1 {
    display: table-cell;
    align-items: center;
}

.header-2 p {
    color: rgba(255, 255, 255, 0.75);
    font-size: 15px;
    font-family: Merriweather;
    line-height: 25px;
}

.header-2 .btn {
    width: 190px;
    height: 60px;
    color: rgb(255, 255, 255);
    background-color: rgb(244, 98, 58);
    border-radius: 160px;
    border: none;
    padding: 20px 36px;
    font-size: 13px;
}

.header-2 .divider {
    width: 20px;
    height: 4px;
    display: inline-block;
    background-color: rgb(244, 98, 58);
}


/* Hero Alanı  */

.hero {
    background-color: rgb(244, 98, 58);
    height: 350px;
    box-sizing: border-box;
}

.hero h2 {
    color: white;
    font-family: Merriweather;
}

.hero p {
    color: rgba(255, 255, 255, 0.75);
    font-family: Merriweather;
    font-size: 1rem;
    margin-bottom: 25px;
}

.hero .btn {
    width: 190px;
    height: 60px;
    color: black;
    background-color: white;
    border-radius: 160px;
    border: none;
    padding: 20px 36px;
    font-size: 13px;
    font-weight: bold;
}

.hero .divider-white {
    width: 40px;
    height: 4px;
    display: inline-flex;
    background-color: white;
}

.services {
    font-family: Merriweather;
}

.services h3 {
    color: rgb(33, 37, 41);
    font-size: 24px;
}

.image {
    position: relative;
}

.image-overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 0;
}

.image-overlay:hover {
    background: rgba(244, 98, 58, 0.9);
    opacity: 1;
}

.img-muted {
    font-size: 14px;
}

.img-title {
    font-size: 19px;
}

.page-section {
    padding: 128px 0;
    font-family: Merriweather;
}

.page-section .btn {
    width: 190px;
    height: 60px;
    font-size: 14px;
    border-radius: 160px;
    line-height: 45px;
}

.form-group .btn {
    width: 500px;
    height: 60px;
    background: rgba(244, 98, 58, 0.9);
    border-radius: 160px;
    border: none;
    margin-left: 10px;
}